# =====================================
# 1. Web Framework
# =====================================
fastapi
uvicorn[standard]

# =====================================
# 2. Data Validation & Settings
# =====================================
pydantic[email]
pydantic-settings
python-dotenv

# =====================================
# 3. Database
# =====================================
SQLAlchemy
psycopg2-binary

# =====================================
# 4. Configuration
# =====================================
PyYAML

# =====================================
# 5. Email & SFTP
# =====================================
aiosmtplib # Для асинхронной отправки email
asyncssh # Для асинхронной работы с SFTP
imap-tools # Для удобной работы с IMAP
pandas # Для конвертации xlsx в csv
openpyxl # Движок для pandas для работы с xlsx

# =====================================
# 6. Scheduling
# =====================================
apscheduler

# =====================================
# 7. Dependency Injection
# =====================================
dependency-injector

# =====================================
# 8. Monitoring
# =====================================
prometheus-client

# =====================================
# 9. Testing
# =====================================
pytest
pytest-asyncio
httpx # Для асинхронных HTTP запросов в тестах
respx # Для мокирования HTTP запросов

# =====================================
# 10. Linting & Formatting
# =====================================
black
isort
ruff
mypy
